/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  --------------------
  Rows, Columns, & Grid
  --------------------
*/
body{
  background-color: #dbdbdb;
}

/*
  --------------------
  Clearfix
  --------------------
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  --------------------
  Header
  --------------------
*/
.primary-header{
  background-color: #c8102b;
}

.logo{
  font: 500 24px "Helvetica Neue";
  color: white;
  margin: 5px 15px;
  float: left;
}

.nav-bar{
  float: right;
  text-align: right;
  margin: 15px 30px;
}
.nav-bar li{
  font: 200 18px "Helvetica Neue";
  color: white;
  display: inline-block;
  padding-left: 10px;
}
.nav-bar li:hover{
  text-decoration: underline;
  cursor: default;
}

/*
  --------------------
  Rows, Columns, & Grid
  --------------------
*/
.grid{
  margin: 20px 40px 0 40px;
}

.row{
  overflow: auto;
  margin-top: 5px;
}

.col-1-3{
  display: inline-block;
  width: 32%;
  float: left;
  vertical-align: top;
}

/*
  --------------------
  Buttons
  --------------------
*/
.btn{

}

/*
  --------------------
  Main Content
  --------------------
*/
.section-title{
  text-align: center;
  background-color: #0068b3;
  font: 400 26px "Helvetica Neue";
  color: white;
  padding: 5px;
}

.profile{
  border-top-left-radius: 5px;
  background-color: white;
  padding: 0 0 50px 0;
  margin-right: 10px;
  height: 200px;
}

#pics{
  float: left;
  width: 37%;
  height: auto;
  border: 2px solid #0068b3;
  border-bottom-width: 20px;
  border-radius: 5px 5px 0 0;
}

#player-name{
  font: 400 30px "Helvetica Neue";
  margin-left: 39%;
  color: #0068b3;
}

#player-stats{
  font: 200 17px "Helvetica Neue";
  margin-left: 40%;
}

/*
  --------------------
  Footer
  --------------------
*/
.primary-footer{
  
}