/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  --------------------
  Clearfix
  --------------------
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  --------------------
  Columns
  --------------------
*/
.col-1-3 {
  width: 30%;
}

.col-2-3 {
  width: 60%;
  border-right: 1px solid gray;
}

.col-1-3,
.col-2-3 {
  margin: 1.5%;
  display: inline-block;
  vertical-align: top;
}

/*
  --------------------
  Button
  --------------------
*/
.button{
  font: 200 24px "Helvetica Neue", sans-serif;
  width: 33%;
  margin-top: 15%;
  text-align: center;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: gray;
}

.button:hover{
  background-color: #d3d3d3;
}

/*
  --------------------
  Body
  --------------------
*/
body {
  min-width: 960px;
}

.primary-header {
  font: 300 40px "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
  background-color: gray;
  height: 75px;
}

.primary-footer {
  background-color: gray;
  height: 75px;
}

form {
  font: 200 20px/1.5 "Helvetica Neue", sans-serif;
}

input {
  border: 1px solid gray;
  border-radius: 5px;
  display: block;
  margin: 1% 0;
}

.inline-inputs {
  float: left;
  vertical-align: top;
  display: inline-block;
}

.form-description {
  margin-bottom: 1%;
  font-size: 25px;
  font-weight: 300;
}

#shipping-section {
  display: none;
}

.description {
  margin-bottom: -1%;
}

.checkbox-stmt {
  font: 200 15px "Helvetica Neue", sans-serif;
  margin-top: 5%;
}

.billing-shipping-info {
  min-height: 750px;
}

.billing-shipping-info,
.credit-card-info {
  margin: 1.5%;
}

/*
  --------------------
  Textbox Formatting
  --------------------
*/
.name,
.email {
  width: 25%;
}

.address {
  width: 35%;
}

.city {
  width: 15%;
}

.state {
  width: 5%;
}

.zip {
  width: 7%;
}

.card-name,
.card-number {
  width: 50%;
}

.security-code {
  width: 10%;
}

.name,
.email,
.address,
.city,
.state,
.zip,
.card-name,
.card-number,
.security-code {
  font: 200 16px/1.5 "Helvetica Neue", sans-serif;
}